{% extends 'base.html' %}
{% block add%}
<div class="col-12 mt-4">
<form>
<div class="form-group">
    <label for="exampleFormControlInput1">First name</label>
    <input type="text"  class="form-control"  placeholder="First name" name="firstname" id="exampleFormControlInput1" required>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Last name</label>
    <input type="text"  class="form-control"  placeholder="Last name" name="lastname" id="exampleFormControlInput1" required>
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
  </div>
 
  <div class="form-group">
    <label for="exampleFormControlInput1">Phone number</label>
    <input type="number"  class="form-control"  placeholder="phone number" name="phone" id="exampleFormControlInput1">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Your message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" required></textarea>
    <button type="submit" class="btn btn-primary mt-2 mb-5">Send</button>
  </div>
</form>
</div>



{% endblock %}